.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  height: 150px;
  align-self: stretch;
}

.section-list {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 50px;
}

.section-container {
  margin-right: 72px;
}
